.topbar {
  width: 100%;
  background-color: var(--secondary-dark);
}

.topbar_inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 600px) {
  .top_bar_inner {
    flex-direction: column;
    gap: 6px;
    padding: 10px 0;
    text-align: center;
  }
}

@media (max-width: 400px) {
  .top-bar__company {
    font-size: 13px;
  }

  .top-bar__phone {
    font-size: 13px;
  }
}

.topbar_text {
  color: var(--primary-white);
  font-size: 14px;
  display: none;
  margin: 8px 0;
}

@media (min-width: 640px) {
  .topbar_text {
    display: inline;
  }
}

.topbar_contact {
  display: flex;
  gap: 5px;
  align-items: center;
  color: var(--primary-white);
}

.topbar_contact:hover {
  color: var(--primary-yelow);
}

.topbar_phone {
  font-size: 14px;
  color: inherit;
  text-decoration: none;
}

.topbar_icon {
  width: 15px;
  height: 15px;
}
